{% extends 'school/school_navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
<div class="row justify-content-md-center mb-5 ">
    <div class="row">
        <center>
        <div class="col col-md-6">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    </center>
    </div>
    <div class="col col-lg-3 mt-4 text-center">
        <a href="{{user_pro.pro_pic.url}}">
            <img src="{{user_pro.pro_pic.url}}" class="img-thumbnail img-fluid"/>
        </a>
        <h4>{{user_pro.name}}</h4>
    </div>
    <div class="col col-lg-3">
        <br>
        <h6><strong>Email: </strong>{{user.email}}</h6>
        <h6><strong>Role: </strong>{{user.school}}</h6>
        <h6><strong>Created-on:</strong> {{user_pro.created | date}}</h6>
        <p><strong>Bio:</strong> {{user_pro.bio}}</p>
    </div>    
    <div class="row justify-content-md-center mb-5 mt-2">
        <div class="col col-lg-4">
            <div class="accordion accordion-flush" id="accordionProfile">
                <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">                        
                            <i class="fa-solid fa-pen-to-square"></i> &nbsp
                            <h6>Edit Profile</h6>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionProfile"> 
                        <div class="accordion-body">
                            <form method="POST" enctype="multipart/form-data" autocomplete="off">
                                {% csrf_token %} 
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <br>
                                <div class="form-group">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <br>
                                <div class="form-group">
                                    {{ form.school|as_crispy_field }}
                                </div>
                                <br>
                                <div class="form-group">
                                    {{ form.pro_pic|as_crispy_field }}
                                </div>
                                <br>
                                <div class="form-group">
                                    {{ form.bio|as_crispy_field }}
                                </div>
                                <br>
                                <button type="submit" name="userUpdate" class="btn btn-success">Update User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="accordion accordion-flush" id="accordionPassword">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">                        
                            <i class="fa-solid fa-key"></i> &nbsp
                            <h6>Change Password</h6>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPassword">
                        
                        <div class="accordion-body">
                            <form method="POST">
                                {% csrf_token %} 
                                <div class="class="form-group"">
                                    {{ pform.new_password1|as_crispy_field }}
                                </div>
                                <div class="class="form-group"">
                                    {{ pform.new_password2|as_crispy_field }}
                                </div>
                                <br>
                                <button type="submit" name="passwordUpdate" class="btn btn-success">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}