{% extends 'school/school_navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
<div class="parent container d-flex justify-content-center align-items-center h-100 mb-3 mt-3">
    <div class="child">
        <div class="card" style="width: 50rem;">
            
            <h5 class="card-header bg-primary text-white text-center"><i class="fa-solid fa-plus"></i> &nbsp Add Capital Activity</h5>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %} 
                <form method="POST" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col">
                            {{form.activity|as_crispy_field}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            {{form.budget|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{form.start_date|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{form.end_date|as_crispy_field}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            {{form.contractor_name|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{form.contractor_mobile_number|as_crispy_field}}
                        </div>
                    </div>  
                    <br>
                    <div class="row">
                        <div class="col">
                            {{form.engineer_name|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{form.engineer_mobile_number|as_crispy_field}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            {{form.remark|as_crispy_field}}
                        </div>
                    </div>       
                    <br>
                    <button type="submit" class="btn btn-success"><i class="fa-light fa-plus"></i>&nbsp Add </button>
                  </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}