{% extends 'school/school_navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
<div class="container-fluid mb-5 mt-2">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %} 
      <div class="row">
          <div class="col">
              <h5><i class="fa-solid fa-users"></i> &nbsp School Insfrastructure List
                <a href=" {% url 'addSchoolInfrastructure' %}"><button class="btn btn-primary btn-sm">Add Item</button></a>
              </h5>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="bg-success text-white">
                      <tr>
                      <th scope="col">SLNo</th>
                      <th scope="col">Item</th>
                      <th scope="col">School</th>
                      <th scope="col">Total</th>
                      <th scope="col">Units</th>
                      <th scope="col">BoughtYear</th>
                      <th scope="col">RenovationYear</th>
                      <th scope="col">Remark</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody class="text-dark">
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{ forloop.counter}}</th>
                        <td>{{item.item}}</td>
                        <td>{{item.school}}</td>
                        <td>{{item.total_number }}</td>
                        <td>{{item.units }}</td>
                        <td>{{item.bought_year }}</td>
                        <td>{{item.renovation_year }}</td>
                        <td>{{item.remark }}</td>
                        <td>
                            <a href="{% url 'updateSchoolInsfrastructure' item.id %}" class="text-decoration-none">
                                <button type="button" class="btn btn-outline-info btn-sm " >
                                  <i class="fa-solid fa-pen-to-square"></i>
                                    Edit
                                </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" 
                                class="btn btn-outline-danger btn-sm" 
                                data-bs-toggle="modal" 
                                data-bs-target="#delete{{item.id}}">
                                <i class="fa-solid fa-trash-can"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                    <!-- Modal Staff -->
                    <div class="modal fade" id="delete{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <i class="fa-solid fa-triangle-exclamation"></i> &nbsp
                              <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete <strong>{{item.item}}</strong> permanently?</p>
                            </div>
                            <div class="modal-footer">
                              <form method="POST" action="{% url 'deleteItem' item.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <input class="btn btn-danger" value="Delete" type="submit">
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                      
{% endblock %}