{% extends 'school/school_navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
<div class="parent container d-flex justify-content-center align-items-center h-100 mb-3 mt-3">
    <div class="child">
        <div class="card" style="width: 75rem;">
            
            <h5 class="card-header bg-primary text-white text-center"> Update Tozay</h5>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %} 
                <form method="POST" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %} 
                    <fieldset>
                    <legend><h5 class="text-center">Personal Detail:</h5></legend>
                        <div class="row">
                            <div class="col">
                                {{form.name|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.gender|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.standard|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.section|as_crispy_field}}
                            </div>
                            </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                {{form.stream|as_crispy_field}}
                            </div>
                            <div class="col">
                            {{form.percentage|as_crispy_field}}
                            </div>
                            <div class="col">
                            {{form.CID|as_crispy_field}}
                            </div>
                            <div class="col">
                            {{form.DoB|as_crispy_field}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                {{form.student_code|as_crispy_field}}
                                </div>
                            <div class="col">
                            {{form.village|as_crispy_field}}
                            </div>
                            <div class="col">
                            {{form.gewog|as_crispy_field}}
                            </div>
                            <div class="col">
                            {{form.dzongkhag|as_crispy_field}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                            {{form.reason|as_crispy_field}}
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend><h5 class="text-center">Parent's Detail:</h5></legend>
                        <div class="row">
                            <div class="col">
                                {{form.father_name|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.father_CID|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.mother_name|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.mother_CID|as_crispy_field}}
                            </div>
                        </div>
                        </fieldset>
                    <br>
                    <button type="submit" class="btn btn-success">Update Tozay</button>
                  </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}