{% extends 'administrator/adm_index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
<div class="parent container d-flex justify-content-center align-items-center h-100 mb-3 mt-3">
    <div class="child">
        <div class="card" style="width: 30rem;">
            <h5 class="card-header">Register User</h5>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %} 
                <form method="POST" autocomplete="off">
                    {% csrf_token %} 
                    <div class="class="form-group"">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <br>
                    <div class="class="form-group"">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <br>
                    <div class="class="form-group"">
                        {{ form.school|as_crispy_field }}
                    </div>
                    <br>
                    <br>
                    <div class="class="form-group"">
                        {{ form.is_superuser|as_crispy_field }}
                    </div>
                    <br>
                    <div class="class="form-group"">
                        {{ form.is_school|as_crispy_field }}
                    </div>
                    <br>
                    <div class="class="form-group"">
                        {{ form.is_dzongkhag|as_crispy_field }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Update User</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}