{% extends 'administrator/adm_index.html' %}
{% load crispy_forms_tags %}

{% block content %}
{{block.super}}
<div class="parent container d-flex justify-content-center align-items-center h-100 mb-5 mt-3">
    <div class="child">
        
        <div class="card" style="width: 30rem;">
            <h5 class="card-header">Upload APA File</h5>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %} 
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        {{ form.APA_file|as_crispy_field }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Upload</button>
                    
                </form>
            </div>
        </div>
    </div>
    
</div>
<br><br>
{% endblock content %}