{% extends 'index.html'%}
{% load static %}

{% block content %}

<div class="container-sm mt-5">
    <div class="row">
        <div class="col">
            <h4>Vision</h4>
            <p>"An Educated and enlightened society of GNH, 
                built and sustained on unique Bhutanese values 
                of  <mark>THA - DAM-TSIG & LEY-GJU- DREY</mark>"
            </p>
            </br>
            <h4>Mission</h4>
            <ul>
                <li>Develop sound educational policies that enable the creation of a 
                    knowledge-based GNH society.</li> 
                <li>Provide equitable, inclusive and quality education and lifelong 
                    learning opportunities to all children and harness their full potential 
                    to become productive citizens. </li>
                <li>Equip all children with appropriate knowledge, skills and values to 
                    cope with the challenges of the 21st century.</li>
    		</ul>	
        </br>
            <h4>Objectives</h4>
            <ul>
                <li>To prepares citizens to become knowledgeable, skilful, creative, innovative, 
                    enterprising, and capable of responding to the national needs and emerging global trend.</li> 
                <li>To develop citizens that value Bhutan’s unique national identity, ancient 
                    wisdom and culture, prepared for right livelihood, and practice contemplative learning. </li>
                <li>To develop individuals who are lifelong learners, who have a holistic 
                    understanding of the world and  a genuine care for others and nature.</li>
                <li>Develop citizens’ competency to deal effectively with the contemporary 
                    world, who are critical, creative, informed and engaged in civic affairs.</li>
                <li>To enable effective and efficient ICT Service delivery.</li>
    		</ul>
        </br>			
        </div>
    </div>
</div>

{% endblock content %}