{% extends 'index.html'%}
{% load static %}

{% block content %}

<div class="container-sm mt-5 mb-5">
    <div class="row text-center">
        <div class="col">
            <h5>Contact Us</h5>
            <hr>
            <h6>
            <p>Dzongkhag Administration</p>
            <p>Trashigang, Bhutan</p>
            <p>
                <a href="mailto:trashigang@trashigang.gov.bt" class="text-decoration-none">
                    <i class="fa-solid fa-envelope"></i>
                    trashigang@trashigang.gov.bt
                </a>
            </p>
            <p>
                <a href="http://www.trashigang.gov.bt" class="text-decoration-none">
                    <i class="fa-brands fa-edge"></i>
                    www.trashigang.gov.bt
                </a>
            </p>
            <p>
                <a href="tel:+975 04521387" class="text-decoration-none">
                <i class="fa-solid fa-phone"></i>
                    +975 04521387
                </a> 
            </p>
        </h6>
        </div>
    </div>
</div>
{% endblock content %}